.body-login {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/login/bg-planes.svg");
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 550px;
}

.logo-container-login h1 {
    font-size: 45px;
    font-weight: 800;
    color: white;
    text-align: center;
}

.logo-container-login img {
    width: 300px;
    height: 300px;
}

.card-login {
    margin: 0 0 0 100px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    background-color: white;
}

.card-login-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-login h2 {
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-align: center;
}

.card-login h3 {
    font-size: 15px;
    font-weight: 400;
    color: rgb(80, 80, 80);
    text-align: center;
    margin: 15px 0 30px 0;
}

.card-login .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.card-login .input-container input {
    margin: 10px 0 0 0;
    height: 45px;
    width: 100%;
    background-color: white;
    border: 1px solid #BBBBBB;
    padding: 0 10px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.card-login .input-container p {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.card-login button {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    background-color: #58AFCB;
    border: none;
}

.card-login p:last-child {
    font-size: 16px;
    color: #216dbd;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}

.error-message-login {
    color: #ab2323;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.card-login .input-container input:focus-within {
    box-shadow: 0px 0.2em 2.5em #c4c4c4;
    border: none;
}

.card-login .input-container input:focus {
    border-color: none;
    outline: none;
}

.iconPasswordContainer {
    width: 100%;
}


/* Consultar Efetivo */

.consultar-header {
    height: 60px;
    width: 100%;
    background-color: #174858;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 50px;
}

.consultar-header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 60%;
    min-width: 700px;
}

.consultar-header-left img {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
}

.consultar-header-left h1 {
    font-size: 35px;
    font-weight: 800;
    color: white;
}

.consultar-header img:last-child {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.consultar-body {
    padding: 50px 50px 0 50px;
}

.consultar-body h2 {
    font-size: 28px;
    font-weight: 700;
    color: black;
}

.consultar-body .input-container p,
.consultar-body .input-pesquisa p {
    font-size: 14px;
    font-weight: 600;
    color: black;

}

.consultar-body .input-container input,
.consultar-body .input-pesquisa input {
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    height: 40px;
    margin: 8px 0 0 0;
    padding: 0 10px;
}

.consultar-dados {
    width: 80%;
    height: 100%;
}


.consultar-dados h3 {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin: 20px 0 10px 0;
}

.box-dados-militar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.dados-militar-form {
    display: flex;
    flex-direction: column;
}

.dados-militar-first-row,
.dados-militar-second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

.dados-militar-first-row input {
    width: 300px;
}

.dados-militar-second-row input {
    width: 200px;
}

.input-pesquisa {
    margin: 20px 0;
}

.input-pesquisa input {
    width: 300px;
}

.table-wrapper-consulta {
    margin: 0px 0 30px 0;
    max-height: 350px;
    min-height: 350px;
    width: 1000px;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid #DEE2E6;
}

.input-foto,
.input-qrcode {
    width: 200px;
    height: 200px;
    min-width: 200px;
}

.input-foto {
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findQrcode-button {
    margin: 20px 0 0 0;
    background-color: #58AFCB;
    width: 170px;
    color: white;
    font-size: 15px;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

.no-photo-consulta {
    width: 120px;
}

.photo-consulta {
    border-radius: 10px;
    width: 190px;
    height: 190px;
}

.qrcode-box {
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px 0 10px 0;
    margin: 0 20px 0 0;
}

.qrcode-box p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin: 10px 0 0 0;
}

.qrcode-title {
    font-size: 17px;
    font-weight: 600;
    color: black;
}

.consultar-body .qrcode-title{
    margin: 20px 0;
}


.qrcode-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.qrcode-container-veiculos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.qrcode-container-veiculos .qrcode-box{
    margin: 0 20px 0 0;
}

.consulta-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.consulta-button button:nth-child(2) {
    background-color: #58AFCB;
    width: 170px;
    color: white;
    font-size: 15px;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

.consulta-button button:nth-child(1){
    background-color: white;
    color: #1B599B;
    width: 170px;
    font-size: 15px;
    margin: 0 30px 0 0;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #1B599B;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.5s;
}

.consulta-button button:nth-child(1):hover{
    background-color: #1b599b27;
    color: #1B599B;
    width: 170px;
    font-size: 15px;
    margin: 0 30px 0 0;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #1B599B;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s;
}