.page-content-cracha {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.cracha-data-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.cracha-form {
    width: 840px;
    height: fit-content;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: 20px;
    padding: 30px;
}

.cracha-form-section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 50px 0;
}

.cracha-form-section:nth-of-type(2){
    display: flex;
    flex-direction: row;
    margin: 0 0 50px 0;
}

.cracha-form-section h3{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 -5px 0;
}

.cracha-form-section-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 0 0;
}

.cracha-form .input-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
    transition: all 0.5s;
    width: 170px;
}

.cracha-form-section-box .cracha-form-section-line .input-container {
    width: 250px;
}

.cracha-form-section .input-foto {
    margin: 90px 0 0 30px;
}

.cracha-form-section .input-foto img {
    object-fit: cover;
}

/* .cracha-form .form-buttons-container-cracha {
    margin: 220px 10px 0 0;
} */

.form-buttons-container-cracha {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px 0 0;
}


/* Cracha normal result config */

.cracha-result-container {
    height: 97%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cracha-result-box {
    position: relative;
    height: 569px;
    width: 400px;
}

.cracha-result-box p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}

.cracha-normal-dom {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 0px 0px 47px;
    width: 135px;
    height: 130px;
}

.cracha-normal-dom-empty {
    width: 0;
    height: 0;
}

.cracha-normal-dom-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 95px 0px 0px 140px;
    width: 360px;
    height: 120px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.cracha-normal-foto {
    position: absolute;
    top: 0;
    left: 0;
    padding: 351px 0px 0px 44px;
    object-fit: cover;
    width: 185px;
    height: 540px;
}

.cracha-normal-foto-empty {
    width: 0;
    height: 0;
}

.cracha-normal-militar {
    padding: 150px 0px 0px 50px;
    font-size: 25px;
    font-weight: 700;
    width: 350px;
    color: black;
}

.cracha-normal-nome-completo {
    padding: 205px 0px 0px 50px;
    font-size: 18px;
    font-weight: 700;
    width: 350px;
    color: black;
}

.cracha-normal-cargo {
    padding: 285px 0px 0px 50px;
    font-size: 23px;
    font-weight: 700;
    width: 350px;
    color: black;
    text-transform: uppercase;
}

.cracha-normal-setor {
    padding: 430px 0px 0px 200px;
    font-size: 23px;
    font-weight: 700;
    width: 350px;
    color: black;
    text-transform: uppercase;
}

.cracha-normal-saram {
    padding: 490px 0px 0px 183px;
    font-size: 36px;
    font-weight: 700;
    width: 370px;
    color: white;
}

.cracha-normal-saram,
.cracha-normal-dom-title {
    color: white !important;
}

/* Cracha Qrcode result config */

.cracha-qrcode-dom {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0px 0px 45px;
    width: 135px;
    height: 120px;
}

.cracha-qrcode-dom-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 95px 0px 0px 155px;
    object-fit: cover;
    width: 360px;
    height: 120px;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.cracha-qrcode-militar {
    padding: 140px 0px 0px 50px;
    font-size: 25px;
    font-weight: 700;
    width: 350px;
    color: black;
}

.cracha-qrcode-foto {
    position: absolute;
    top: 0;
    left: 0;
    padding: 266px 0px 0px 32px;
    object-fit: cover;
    width: 187px;
    height: 459px;
}

.cracha-qrcode-foto-empty {
    width: 0;
    height: 0;
}

.cracha-qrcode-saram {
    padding: 465px 0px 0px 50px;
    font-size: 33px;
    font-weight: 700;
    width: 350px;
    color: black;
}

.cracha-qrcode-unidade {
    padding: 208px 0px 0px 40px;
    font-size: 20px;
    font-weight: 700;
    width: 195px;
    color: black;
}

.cracha-qrcode-validade {
    padding: 208px 0px 0px 185px;
    font-size: 20px;
    font-weight: 700;
    width: 380px;
    color: black;
}

.cracha-qrcode-qrcode {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 30px 107px 0px;
    width: 200px;
    max-width: 210px;
    height: 306px;
}

.cracha-body-img {
    height: 569px;
    width: 400px;
    border: none;
}

/* Print config */

@media print {

    .no-print {
        display: none;
    }

    @page {
        size: 210mm 297mm;
        background-color: black;
    }


    .cracha-result-container {
        position: relative;
        background-color: black;
    }

    .cracha-result-box {
        position: absolute;
        background-color: black;
        top: 0;
        left: 0;
        margin: -150px 0 0 -200px;
        transform: scale(0.6);
    }

    .cracha-normal-saram,
    .cracha-normal-dom-title {
        color: white !important;
    }
}