.filters-relatorio-efetivo {
    width: 900px;
}

.filters-relatorio-efetivo .input-container:nth-child(1) {
    width: 250px;
}

.date-range-container {
    width: 450px;
}

.filters-relatorio-efetivo .input-container:nth-child(2) div div {
    margin: 8px 0 0 0;
    border: 1px solid #BBBBBB;
}

.filters-relatorio-efetivo .input-container:nth-child(2) div div input {
    height: 40px;
}


.filters-relatorio-veiculo {
    width: 1100px;
}

.filters-relatorio-veiculo .input-container:nth-child(1) {
    width: 250px;
}

.date-range-container {
    width: 450px;
}

.filters-relatorio-veiculo .input-container:nth-child(3) div div {
    margin: 8px 0 0 0;
    border: 1px solid #BBBBBB;
}

.filters-relatorio-veiculo .input-container:nth-child(3) div div input {
    height: 40px;
}