.color-box{
    width: 100px;
    height: 20px;
    border-radius: 10px;
}

.table-actions thead tr th:last-child {
    width: 100px;
}

.table-actions tbody tr td:last-child button {
    border: none;
    background-color: transparent;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.table-actions tbody tr td:last-child button img {
    height: 20px;
}



.table-consulta {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.table-consulta thead tr th:first-child,
.table-consulta tbody tr td:first-child {
    padding: 0 0 0 20px;
}

.table-consulta thead tr {
    height: 50px;
    font-weight: 900;
}

.table-consulta tbody tr {
    height: 50px;
    font-weight: 500;
}