/* Table */

.page-content {
    margin: 30px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page-content-table {
    margin: 30px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.table-wrapper {
    margin: 0px 0 30px 0;
    max-height: 700px;
    min-height: 700px;
    width: 100%;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid #DEE2E6;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    width: 100%;
    text-align: left;
}

.table tr {
    height: fit-content;
    font-size: 15px;
}

.table thead {
    background-color: #F2F2F2;
    height: 40px;
}

.table tbody tr{
    height: 40px;
}

.row-white {
    background-color: white;
}

.row-gray {
    background-color: #F2F2F2;
}

.row-efetivo td{
    font-weight: 800;
}

.page-content-table table thead tr th:nth-child(1),
.page-content-table table tbody tr td:nth-child(1) {
    padding: 0 0 0 10px;
}

.color-box {
    width: 100px;
    height: 20px;
    border-radius: 10px;
}

.table-actions thead tr th:last-child {
    width: 100px;
}

.table-actions tbody tr td:last-child button {
    border: none;
    background-color: transparent;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.table-actions tbody tr td:last-child button img {
    height: 20px;
}



.table-consulta {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.table-consulta thead tr th:first-child,
.table-consulta tbody tr td:first-child {
    padding: 0 0 0 20px;
}

.table-consulta thead tr {
    height: 50px;
    font-weight: 900;
}

.table-consulta tbody tr {
    height: 50px;
    font-weight: 500;
}

/* Table relatório */

.table-relatorio thead tr th{
    width: 15%;
}

.table-relatorio thead tr th:nth-child(1),
.table-relatorio thead tr th:nth-child(2),
.table-relatorio thead tr th:nth-child(3),
.table-relatorio thead tr th:nth-child(4){
    width: 11%;
}

.table-relatorio thead tr th:nth-child(5),
.table-relatorio thead tr th:nth-child(6),
.table-relatorio thead tr th:nth-child(7){
    width: 20%;
}



/* Table usuário */

.table-usuarios thead tr th, .table-usuarios tbody tr td{
    width: 33%;
}

.table-usuarios tbody tr td:nth-child(2) {
    padding: 10px 0;
}


/* Table veículos */

.table-veiculos thead tr th:not(:last-child), .table-veiculos tbody tr td:not(:last-child) {
    width: 11,5%;
}

