/* Page titles */

.page-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 40px 0;
    height: 7%;
}

.page-title h1 {
    font-size: 27px;
    font-weight: 500;
}

.page-title h2 {
    line-height: 0px;
    font-size: 16px;
    font-weight: 500;
}

.page-title-create-option {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 40px 0;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-title-create-option h1 {
    font-size: 27px;
    font-weight: 500;
}

.page-title-create-option h2 {
    line-height: 0px;
    font-size: 16px;
    font-weight: 400;
}

.page-title-create-option button {
    margin: 20px 0 0 0;
    background-color: #58AFCB;
    width: 170px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
}

.page-title-create-option button:hover {
    background-color: #36a4c9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s;
}

/* Loading */
.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 645px;
    margin: 0px 0 30px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.loading-container-route{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);

    height: 100vh;
    width: 100vw;
}

/* Buttons */
.searchButton {
    margin: 20px 0 0 0;
    background-color: #1B599B;
    width: 170px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.searchButton:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s;
}



/* Password Icon Style */

.iconPasswordContainer {
    position: relative;
}

.eyePassword {
    cursor: pointer;
    position: absolute;
    top: 58%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
}

.eyePasswordChange {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 80%;
    transform: translateY(-50%);
    width: 20px;
}

.password-input {
    width: 100%;
}



/* Filters */

.page-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
    transition: all 0.5s;
}

.input-container input:hover,
.input-container select:hover {
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
    transition: all 0.5s;
}

.input-container p {
    font-size: 14px;
    font-weight: 600;
}

.input-container .filtering-input {
    padding: 0 0 0 10px;
}

.input-container .filtering-input {
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    height: 40px;
    margin: 8px 0 0 0;
}