.veiculo-inputs-1 .input-container:nth-child(1), .veiculo-inputs-1 .input-container:nth-child(2) {
    width: 300px;
}

.veiculo-inputs-1 {
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.veiculo-inputs-2 {
    height: 100%;
    width: fit-content;
    max-width: 100%;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.veiculo-inputs-2 .input-container:nth-child(1),
.veiculo-inputs-2 .input-container:nth-child(2),
.veiculo-inputs-2 .input-container:nth-child(3),
.veiculo-inputs-2 .input-container:nth-child(4),
.veiculo-inputs-2 .input-container:nth-child(5){
    width: 200px;
}

.veiculo-inputs-2 .input-container:nth-child(1),
.veiculo-inputs-2 .input-container:nth-child(2){
    min-width: 150px;
}

.veiculo-inputs-2 .input-container:nth-child(3),
.veiculo-inputs-2 .input-container:nth-child(6),
.veiculo-inputs-2 .input-container:nth-child(7){
    min-width: 120px;
}

.veiculo-inputs-2 .input-container:nth-child(4),
.veiculo-inputs-2 .input-container:nth-child(5){
    min-width: 150px;
}

.veiculo-inputs-2 .input-container:nth-child(3) input{
    text-transform: uppercase;
}