.page-title button {
    margin: 20px 0 0 0;
    background-color: #58AFCB;
    width: 170px;
    color: white;
    font-size: 15px;
    height: 35px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

.posto-filters {
    width: 700px;
}

.posto-filters .input-container:nth-child(1){
    width: 250px;
}

.posto-filters .input-container:nth-child(2){
    width: 150px;
}